:root{
    /*Colores*/
    --blanco:#ffffff;
    --oscuro:#212121;
    --amarillo-patito:#ffc107;
    --azul:#0097a7;
    --gris:#757575;

    /*Tamaños de letra*/
}
body{
    font-size: 16px;
    font-family: "Google Sans Code", monospace;
}
.encabezado{
    text-align: center;
    font-size: 2rem;
}
.contenedor{
    width: 120rem;
    margin-left: 20rem;
    margin-top: auto;
    margin-left: 20rem;
    margin-bottom: auto;
}
.enlace-encabezado{
    background-color: yellow;
}